const tabPistas = document.getElementById('tabPistas');
const pistasContainer = document.getElementById('pistasContainer');

function togglePistas() {
    pistasContainer.classList.toggle('visivel');
}

tabPistas.addEventListener('click', togglePistas);

console.log("Script JS da aba PISTAS carregado.");

window.addEventListener('keydown', (event) => {
    if(!pistasContainer.classList.contains('visivel')) {
        return;
}
const scrollAmount = 300;
    if(event.key==='ArrowLeft') {
        event.preventDefault();
        pistasContainer.scrollBy({
            left: -scrollAmount,
            behavior: 'smooth'
        });
    } else if(event.key==='ArrowRight') {
        event.preventDefault();
        pistasContainer.scrollBy({
            left: scrollAmount,
            behavior: 'smooth'
        });
    }
});
